:root{
    --size: 600px;
}
html{
    font-size: 18px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
body{
    width: calc(var(--size)*1.5);
    max-width: 1080px;
    margin: 15px auto;
}
*{
    padding: 0;   
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(167, 205, 255);
    border-radius: 8px;
    padding: 16px 36px;
}

#toolbar{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

#toolbar input{
    margin-bottom: auto;
}

#sizeNContainer{
    display: flex;
    flex-flow: column wrap;
}

#clear{
    align-self: stretch;
    color: white;
    background-color: royalblue;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 800;
}

#unicolorOption {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#colorPicker{
    height: 1rem;
    width: 2rem;
}

#board {
    width: var(--size);
    height: var(--size);
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #888888;
}